*{
    margin: 0;
    padding: 0;
    font-family:'Roboto',sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(Pinks.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;

}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    margin-top: 7%;
    width: 150px;
    cursor: pointer;
}
.icon{
    width: 30px;
    cursor: pointer;
    margin: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    
    text-decoration: none;
    color: #fff;
    font-size: 13;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis:50%;
}
h1{
    color: #fff;
    font-size: 70px;
}
p{
    color: #fff;
    font-size: 35px;
    line-height: 70px;
}
.card{  
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 30px;
    padding:10px 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px 20px;
    background-position: center;
    background-size: cover;
    -webkit-text-stroke: 0.3px white;
    transition: transform 0.5s;
    overflow-y: hidden;
}
.card1{
    background-image: url(1.JPG);
}
.card2{
    background-image: url(2.JPG);
}
.card3{
    background-image: url(3.JPG);
}
.card4{
    background-image: url(4.JPG);
}
.card:hover{
    transform: translateY(-10px);
}nav ul li a:hover{
 background-color: pink;
 border-radius: 50px;
}button:hover{
    background-color: pink;
}
@media only screen and (max-width: 1025px) {
h1{
    font-size: 80px
}p{
    font-size: 30px;
}.card{     
    margin: 35px 80px;
    width: 230  px;
    height: 200px;
    font-size: 15px;
}.logo{
    width: 100px;
}
.hidden{
    display: none;
}.icon{
    width: 70px;
    position: absolute;
    right: 8%;
}.button{
    width: 230px;
    height: 50px;
}body{
    height: 100vh;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}.icon{
    width: 30px;
    
    
    
}

}@media only screen and (max-width: 860px) {
    .card{     
        margin: 30px 60px;
        width: 180px;
        height: 90px;
        font-size: 10px;
    }h1{
        font-size: 20px;
    }body{
        width: 100%;
        height: 100vh;
        margin: 0px;
        padding: 0px;
        overflow-y: hidden;
        
        
    }.icon{
        width: 30px;
      
    }
}
@media only screen and (max-width: 400px) {
    col h1{
        font-size: 50px
    }col p{
        font-size: 9px;
    }.card{     
        margin: 15px 2px;
        width: 100px;
        height: 90px;
        font-size: 5px;
    }.logo{
        width: 110px;
    }
    .hidden{
        display: none;
    }.button{
        width: 20px;
    }.icon{
        position: absolute;
        right: 1%;
        width: 30px;
    }
    .container{
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }body{
        height: 100vh;
   
        
    }
    
    
}